@{
    ViewBag.Title = "Sök i grafdatabasen";
}

@model Grafdatabasen.ViewModels.SearchViewModel
<style>
    .searchitem {
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size:18px;
        font-style:italic;
        color:green;
        line-height:32px;
            
    }
    .mtlist {
        border:none;
        border-bottom:1px dotted lightgrey;
    }
</style>
<div class="row"><p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
</div>
<div class="panel-group col-md-6" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Enkel sökning
                </a>
            </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
                <div class="col-md-5" id="uppdragTypeahead">
                    @Html.EditorFor(m => m.Nod, new { htmlAttributes = new { @class = "form-control typeahead", @placeholder = "Sök i databasen:" } })
                </div>
                <div class="col-md-1 pull-right">
                    <input type="submit" value="Visa" onclick="location.href='@Url.Action("Search", "Graf")'" id="visaDetaljer" class="btn btn-default pull-right" />
                </div>
           
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingTwo">
            <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#nyfiken" aria-expanded="false" aria-controls="collapseTwo">
                    Nyfiken sökning
                </a>
            </h4>
        </div>
        <div id="nyfiken" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
            <div id="searchPanel" class="panel-body">
                @{
                    List<SelectListItem> lista1 = new List<SelectListItem>();
                    lista1.Add(new SelectListItem { Text = "  --Välj--   ", Value = "0" });
                    lista1.Add(new SelectListItem { Text = "konsulter", Value = "Konsult" });
                    lista1.Add(new SelectListItem { Text = "uppdrag", Value = "Uppdrag" });
                    lista1.Add(new SelectListItem { Text = "företag", Value = "Kund" });
                    lista1.Add(new SelectListItem { Text = "kompetenser", Value = "Kompetens" });
                    List<SelectListItem> lista2 = new List<SelectListItem>();
                    lista2.Add(new SelectListItem { Text = " --Välj-- ", Value = "0" });

                    List<SelectListItem> lista3 = new List<SelectListItem>();
                    lista3.Add(new SelectListItem { Text = " --Välj-- ", Value = "0" });

                    List<SelectListItem> lista4 = new List<SelectListItem>();
                    lista4.Add(new SelectListItem { Text = " --Välj-- ", Value = "0" });

                    List<SelectListItem> lista5 = new List<SelectListItem>();
                    lista5.Add(new SelectListItem { Text = " --Välj-- ", Value = "0" });

                }

                @using (Html.BeginForm())
                {

                    <div class="searchitem"><span>Jag söker </span>@Html.DropDownListFor(m => m.SearchItem1, lista1, new { id = "lista1", @class = "mtlist" })</div>
                    <div class="searchitem" id="som1"><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>@Html.DropDownListFor(m => m.SearchItem2, lista2, new { id = "lista2", @class = "mtlist" }) @Html.DropDownListFor(m => m.SearchItem3, lista3, new { id = "lista3", @class = "mtlist" })</div>
                    <div class="searchitem" id="som2"><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>@Html.DropDownListFor(m => m.SearchItem4, lista4, new { id = "lista4", @class = "mtlist" }) @Html.DropDownListFor(m => m.SearchItem5, lista5, new { id = "lista5", @class = "mtlist" })</div>
                    <input type="submit" value="Sök" id="searchButton" onclick="location.href='@Url.Action("createSearchString", "Search", null)'" class="btn btn-sm btn-primary" />

                }
            </div>
        </div>
    </div>
</div>
<div id="resultatpanel" class="col-md-6">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Sökresultat</h3>
        </div>
        <div id="resultat" class="panel-body">
            Detaljer
        </div>
    </div>

</div>

<script type="text/javascript">


    $('#nyfiken').on('show.bs.collapse', function () {

        $("#lista2, #lista3, #lista4, #lista5").hide();
        // Steg 1:
        Konsult=new Array({Text:"har kompetens inom ",Value:"KAN"},{Text : "utfört uppdrag för ",Value :"UTFÖR"},{Text:"kan rollen som ",Value:"I_ROLL"},{Text:"har certifiering för ",Value:"UTBILDNING"},{Text:"tidigare arbetat för ", Value:"TIDIGARE_ANSTÄLLD_HOS"});
        Uppdrag=new Array({Text : "utförts för ",Value :"KUND"},{Text:"innehållit tekniken ",Value:"TEKNIK"},{Text:"berört området ", Value:"OMRÅDE"});
        Kund=new Array({Text:"tillhör segmentet ",Value:"SEGMENT"},{Text : "beställt uppdrag inom ",Value :"OMRÅDE"});
        Kompetens=new Array({Text:"är av typen ", Value:"TYP"}, {Text:"finns i ", Value:"ANSTÄLLD"}, {Text:"INTE finns i ", Value:"NOT"});
        $(function() {
            $('#lista1').change(function(){
                populateSelect("#lista1", "#lista2");
                $('#som1 span').text("     som... ");
                $( "#lista2" ).show();
                $('#lista3').empty();
            });
        });

        KAN = new Array();
        UTFÖR = new Array();
        I_ROLL = new Array();
        TIDIGARE_ANSTÄLLD_HOS = new Array();

        KUND = UTFÖR;
        TEKNIK = new Array();
        Budget = new Array({ Text: " < 200 000 kr ", Value: "0" }, { Text: " 200 000 - 500 000 kr ", Value: "1" }, { Text: " < 500 000 kr", Value: "2" })

        SEGMENT = new Array();
        OMRÅDE = new Array();


        function populateSelect(x, y){
            var listval=$(x).val();
            $(y).empty();
            eval(listval).forEach(function(t) { 
                if(t.Text !== null){ 
                    $(y).append($("<option />").text(t.Text).val(t.Value));
                }
            });
        }

        $(function() {
            ajaxneo4j("match (n)-[:KAN]->(m) return distinct m.Namn").responseJSON.results[0].data.forEach(function (n) {
                KAN.push({Text: n.row[0] ,Value: n.row[0]});
            });
        })
        $(function () {
            ajaxneo4j("match (n:Kund) return distinct n.Namn").responseJSON.results[0].data.forEach(function (n) {
                UTFÖR.push({ Text: n.row[0], Value: n.row[0] });
            });
        })
        $(function () {
            ajaxneo4j("match (n)-[r:I_ROLL]->(m) return distinct m.Namn").responseJSON.results[0].data.forEach(function (n) {
                I_ROLL.push({ Text: n.row[0], Value: n.row[0] });
            });
        })
        $(function () {
            ajaxneo4j("match (n:Kund) return distinct n.Namn").responseJSON.results[0].data.forEach(function (n) {
                TIDIGARE_ANSTÄLLD_HOS.push({ Text: n.row[0], Value: n.row[0] });
            });
        })
        $(function () {
            ajaxneo4j("match (n:Teknik) return distinct n.Namn").responseJSON.results[0].data.forEach(function (n) {
                TEKNIK.push({ Text: n.row[0], Value: n.row[0] });
            });
        })
        $(function () {
            ajaxneo4j("match (n:Segment) return distinct n.Namn").responseJSON.results[0].data.forEach(function (n) {
                SEGMENT.push({ Text: n.row[0], Value: n.row[0] });
            });
        })
        $(function () {
            ajaxneo4j("match (n:Kompetens) return distinct n.Namn").responseJSON.results[0].data.forEach(function (n) {
                OMRÅDE.push({ Text: n.row[0], Value: n.row[0] });
            });
        })

        //Kund = new Array({ Text: "tillhör segmentet ", Value: "I_SEGMENT" }, { Text: "beställt uppdrag inom ", Value: "BESTÄLLT" });


        //var nonsens4 = ajaxneo4j("match (n)-[r:IN_ROLE]->(m) return distinct m.name").responseJSON.results[0].data.forEach(function (n) {
        //        TIDIGARE_ANSTÄLLD_HOS.push({Text: n.row[0] ,Value: n.row[0]});
        //    });

        $(function() {
            $('#lista2').change(function(){
                populateSelect("#lista2", "#lista3");
                $( "#lista3" ).show();
            });
        });



    });
</script>

