@model Grafdatabasen.ViewModels.AddKompetensViewModel

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Stäng</span></button>
    <h4 class="modal-title text-center" id="modalHeader">Lägg till kompetens:</h4>
</div>
@using (Html.BeginForm("AddKompetens", "Write", FormMethod.Post))
{
<div class="modal-body">
    <div class="col-md-12">
        <div class="form-horizontal">

            <div class="form-group form-group-sm">
                @Html.LabelFor(m => m.Namn, new { @class = "control-label col-md-1" })
                <div class="col-md-5">
                    @Html.EditorFor(m => m.Namn, new { htmlAttributes = new { @class = "form-control", @placeholder = "Namn:" } })
                </div>
                @Html.LabelFor(m => m.Kompetenstyp, new { @class = "control-label col-md-1" })
                <div class="col-md-5">
                    @Html.EditorFor(m => m.Kompetenstyp, new { htmlAttributes = new { @class = "form-control", @placeholder = "Kompetenstyp:", @Styles = "height: 40px" } })
                </div>
            </div>
            <div class="form-group form-group-sm">
                @Html.LabelFor(m => m.Beskrivning, new { @class = "control-label col-md-1" })
                <div class="col-md-5">
                    @Html.EditorFor(m => m.Beskrivning, new { htmlAttributes = new { @class = "form-control", @placeholder = "Beskrivning:", @Styles = "height: 40px" } })
                </div>
            </div>

            <div class="form-group form-group-sm" id="Doldkonsult">
                @Html.LabelFor(m => m.Konsult, new { @class = "control-label col-md-1" })
                <div class="col-md-5">
                    @Html.EditorFor(m => m.Konsult, new { htmlAttributes = new { @id = "Doldkonsultnamn", @class = "form-control", @placeholder = "Beskrivning:", @Styles = "height: 40px" } })
                </div>
            </div>


        </div>
    </div>
</div>
<div class="modal-footer">
    <input type="submit" value="Spara" onclick="location.href='@Url.Action("AddKompetens", "Write")'" class="btn btn-sm btn-primary" />

</div>
}
<script type="text/javascript">
    $(function () {
        $('#uppdateraKompetens').click(function () {
            $('#modal-container').modal('hide');
        });
    });
    $(document).ready(function () {

        $('#Doldkonsultnamn').val(sessionStorage.getItem('konsult'));
        $("#Doldkonsult").hide();

    });
</script>

