@model Grafdatabasen.ViewModels.AddKonsultViewModel

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Stäng</span></button>
    <h4 class="modal-title text-center" id="modalHeader">Lägg till ny Konsult:</h4>
</div>
@using (Html.BeginForm("AddKonsult", "Write", FormMethod.Post))
{
<div class="modal-body">
    <div class="col-md-12">
        <div class="form-horizontal">
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.Namn, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.Namn, new { @class = "form-control",  @Styles = "height: 40px" })
                        @Html.ValidationMessageFor(model => model.Namn, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Epost, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Epost, new { htmlAttributes = new { @class = "form-control", @Styles = "height: 40px" } })
                        @Html.ValidationMessageFor(model => model.Epost, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Telefon, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Telefon, new { htmlAttributes = new { @class = "form-control", @Styles = "height: 40px" } })
                        @Html.ValidationMessageFor(model => model.Telefon, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Kontor, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @*
                    @Html.EditorFor(model => model.Kontor, new { htmlAttributes = new { @class = "form-control", @Styles = "height: 40px" } })
                    @Html.ValidationMessageFor(model => model.Kontor, "", new { @class = "text-danger" })

                                @Html.DropDownListFor(model => model.Kontor, (IEnumerable<SelectListItem>)ViewBag.Kontor)
                        *@
                        @Html.DropDownList("Kontor")
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Titel, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Titel, new { htmlAttributes = new { @class = "form-control", @Styles = "height: 40px" } })
                        @Html.ValidationMessageFor(model => model.Titel, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Beskrivning, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Beskrivning, new { htmlAttributes = new { @class = "form-control", @Styles = "height: 40px" } })
                        @Html.ValidationMessageFor(model => model.Beskrivning, "", new { @class = "text-danger" })
                    </div>
                </div>


                
            </div>
            
    </div>
</div>
</div>
<div class="modal-footer">
    <input type="submit" value="Spara" onclick="location.href='@Url.Action("AddKonsult", "Write")'" class="btn btn-sm btn-primary" />
</div>
}

<script type="text/javascript">
    $(document).ready(function () {
        var temp = $.parseJSON(sessionStorage.getItem('nodes'));
        console.log(temp);
        temp.forEach(function (row) {
            //console.log(row.graph.nodes[0].properties.Namn);
            if (row.graph.nodes[0].labels == "Kontor") {
                $("#KontorDrop").append($("<option>").text(row.graph.nodes[0].properties.Namn).val(row.graph.nodes[0].properties.Namn).attr('Kontor', row.graph.nodes[0].id));
            }
    })
});


/*
    // The query
    var query = {
        "statements": [{
            "statement": "MATCH path = (n) RETURN path",
            "resultDataContents": ["graph", "row"]
        }]
    };

    var graphen;

    //the helper function provided by neo4j documents
    function idIndex(a, id) {
        for (var i = 0; i < a.length; i++) {
            if (a[i].id == id) return i;
        }
        return null;
    }
    sessionStorage.clear();
    // jQuery ajax call
    var request = $.ajax({
        type: "POST",
        url: "http://localhost:7474/db/data/transaction/commit",
        accepts: { json: "application/json" },
        dataType: "json",
        contentType: "application/json",
        data: JSON.stringify(query),
        //now pass a callback to success to do something with the data
        success: function (data) {
            console.log(data);
            sessionStorage.setItem('data', JSON.stringify(data.results[0].data));

            var nodes = [], links = [];
            // parsing the output of neo4j rest api
            data.results[0].data.forEach(function (row) {
                row.graph.nodes.forEach(function (n) {
                    if (idIndex(nodes, n.id) == null) {
                        if (n.labels == "Kontor") {
                            console.log(n.properties.Namn)
                            $("#Kontor").append($("<option>").text(n.properties.Namn).val(n.properties.Namn).attr('Kontor', n.id));
                        }

                        nodes.push({ id: n.id, label: n.labels[0], title: n.properties.name });
                    }
                });
                links = links.concat(row.graph.relationships.map(function (r) {
                    // the neo4j documents has an error : replace start with source and end with target
                    return { source: idIndex(nodes, r.startNode), target: idIndex(nodes, r.endNode), type: r.type };
                }));
            });
            graphen = { nodes: nodes, links: links };
        }
    });
    */
</script>

