@model IEnumerable<Grafdatabasen.ViewModels.AddKompetensViewModel>

 

<div class="row">
    <p>&nbsp;</p>
    <p>

        @Html.ActionLink("Lägg till ny Kompetens", "showAddModalKompetens", routeValues: new { Konsult = ViewBag.Konsult }, htmlAttributes: new { @class = "modal-link btn btn-default btn-sm pull-right" })
        
    </p>

    <table class="table customer">
        @*Headers*@
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Namn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Beskrivning)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Niva)
            </th>
        </tr>

        @*Konsult Data*@
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(c => item.Namn)
                </td>
                <td>
                    @Html.DisplayFor(c => item.Beskrivning)
                </td>
                <td>
                    @Html.DisplayFor(c => item.Niva)
                </td>
                <td>
                    @Html.ActionLink("Ändra", "showEditModalKompetens", "Write", routeValues: new { Kompetens = item.Namn, Konsult = item.Konsult }, htmlAttributes: new { @class = "modal-link btn btn-default btn-sm pull-right" }) |
                    @Html.ActionLink("Ta bort", "RemoveKompetens", routeValues: new { Kompetens = item.Namn, Konsult = item.Konsult }, htmlAttributes: new { @class = "btn btn-default btn-sm pull-right" })
                </td>
            </tr>
        }
    </table>
</div>

