@model IEnumerable<Grafdatabasen.ViewModels.AddKompetensViewModel>



<div class="row">
    <p>&nbsp;</p>


    <table class="table customer">
        @*Headers*@
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Namn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Beskrivning)
            </th>
        </tr>

        @*Konsult Data*@
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(c => item.Namn)
                </td>
                <td>
                    @Html.DisplayFor(c => item.Beskrivning)
                </td>
                <td>
                    @Html.ActionLink("Edit", "showPartialKompetens", "Write", routeValues: new { Kompetens = item.Namn, Konsult = item.Konsult}, htmlAttributes: new { @class = "modal-link btn btn-default btn-sm pull-right" }) |
                    @Html.ActionLink("Delete", "Delete", new { Namn = item.Namn })
                </td>
            </tr>
        }
    </table>
</div>

