@{
    ViewBag.Title = "Lägg till/ändra konsult";
}
<div class="row">
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
</div>

<div role="tabpanel">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" id="navTabs">
        <li role="presentation">@Html.ActionLink("Uppdrag", "uppdrag", "Write")</li>
        <li role="presentation" class="active">@Html.ActionLink("Konsult", "#", "Write")</li>
        <li role="presentation">@Html.ActionLink("Kund", "kund", "Write")</li>
        <li role="presentation">@Html.ActionLink("Kompetens", "kompetens", "Write")</li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
        <div id="konsult">

            @model Grafdatabasen.ViewModels.AddKonsultViewModel


            <div class="row">
                <p>&nbsp;</p>
                @using (Html.BeginForm())
                {
                    <div class="col-md-12">
                        <div class="form-horizontal">

                            <div class="form-group form-group-sm">
                                @Html.LabelFor(m => m.Namn, new { @class = "control-label col-md-1" })
                                <div class="col-md-4">
                                    @{
                                        List<SelectListItem> listItem = new List<SelectListItem>();
                                        foreach (var item in Model.Konsulter.OrderBy(d => d.Namn))
                                        {
                                            listItem.Add(new SelectListItem { Text = item.Namn });
                                        }
                                        

                                    }
                                    @Html.DropDownListFor(m => m.Namn, listItem, "Välj konsult", new { @id = "KonsultNamn", @class = "form-control" })

                                </div>
                                <div class="col-md-1">
                                    @Html.ActionLink("Ny konsult", "showPartialKonsult", "Write", null, new { @class = "modal-link btn btn-default btn-sm pull-right" })
                                </div>
                                @Html.LabelFor(m => m.Titel, new { @class = "control-label col-md-1" })
                                <div class="col-md-5">
                                    @Html.EditorFor(m => m.Titel, new { htmlAttributes = new { @id = "Titel", @class = "form-control", placeholder = "Titel:" } })
                                </div>
                            </div>

                            <div class="form-group form-group-sm">
                                @Html.LabelFor(m => m.Epost, new { @class = "control-label col-md-1" })
                                <div class="col-md-5">
                                    @Html.EditorFor(m => m.Epost, new { htmlAttributes = new { @id = "Epost", @class = "form-control", @placeholder = "Epost:" } })
                                </div>
                                @Html.LabelFor(m => m.Telefon, new { @class = "control-label col-md-1" })
                                <div class="col-md-5">
                                    @Html.EditorFor(m => m.Telefon, new { htmlAttributes = new { @id = "Telefon", @class = "form-control", placeholder = "Telefon:" } })
                                </div>
                            </div>
                            <div class="form-group form-group-sm">
                                @Html.LabelFor(m => m.Link, new { @class = "control-label col-md-1" })
                                <div class="col-md-5">
                                    @Html.EditorFor(m => m.Link, new { htmlAttributes = new { @id = "Link", @class = "form-control", @placeholder = "Link:" } })
                                </div>
                                @Html.LabelFor(m => m.Kontor, new { @class = "control-label col-md-1" })
                                <div class="col-md-5">
                                    @Html.EditorFor(m => m.Kontor, new { htmlAttributes = new { @id = "Kontor", @class = "form-control", placeholder = "Kontor:" } })
                                    @*@Html.ValidationMessageFor(m => m.valtKontor)*@
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(m => m.Beskrivning, new { @class = "control-label col-md-1" })
                                <div class="col-md-5">
                                    @Html.EditorFor(m => m.Beskrivning, new { htmlAttributes = new { @id = "BeskrivningKonsult", @class = "form-control", @placeholder = "Beskrivning:" } })
                                </div>
                                <div class="col-md-6">
                                    <div class="panel panel-default " id="divKompetenser">
                                        <!-- Default panel contents -->
                                        <div class="panel-heading clearfix">
                                            <h5 class="panel-title pull-left" style="padding-top: 5px;">Kompetenser:</h5>
                                            @Html.ActionLink("Lägg till kompetens ", "showPartialKompetens", "Write", new { @class = "modal-link btn btn-default btn-sm pull-right" })
                                            @Html.ActionLink("TA BORT kompetens ", "showRemoveKompetens", "Write", new { @class = "modal-link btn btn-default btn-sm pull-right" })


                                        </div>
                                        <!-- Table -->
                                        
                                        @Html.Partial("_KompetensTabellPartial")
                                        
                                    </div>
                                </div>
                            </div>


                            <div class="form-group">
                                <div class="col-md-6">
                                    <div class="panel panel-default " id="divUtbildning">
                                        <!-- Default panel contents -->
                                        <div class="panel-heading clearfix">
                                            <h5 class="panel-title pull-left" style="padding-top: 5px;">Utbildningar:</h5>
                                            <input type="submit" value="Lägg till utbildning" onclick="location.href='@Url.Action("Index", "Write")'" id="addUtbildningBtn" class="btn btn-default btn-sm pull-right" />
                                        </div>
                                        <!-- Table -->
                                        <table id="listaUtbildningar" class="table table-striped table-hover ">
                                            <thead>
                                                <tr>
                                                    <th>Utbildning</th>
                                                    <th>År</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>Mjukvaruutveckling</td>
                                                    <td>2012 - 2015</td>
                                                </tr>
                                                <tr>
                                                    <td>Småskola</td>
                                                    <td>1999 - 2008</td>
                                                </tr>
                                                <tr>
                                                    <td>Lekis</td>
                                                    <td>1997 - 1999</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="panel panel-default" id="divAnstallning">
                                        <!-- Default panel contents -->
                                        <div class="panel-heading clearfix">
                                            <h5 class="panel-title pull-left" style="padding-top: 5px;">Tidigare anställningar:</h5>
                                            <input type="submit" value="Lägg till tidigare anställning" onclick="location.href='@Url.Action("Index", "Write")'" id="addTidigareAnstBtn" class="btn btn-default btn-sm pull-right" />
                                        </div>
                                        <!-- Table -->
                                        <table id="listaTidigareAnst" class="table table-striped table-hover ">
                                            <thead>
                                                <tr>
                                                    <th>Arbetsgivare</th>
                                                    <th>Segment</th>
                                                    <th>År</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>Skogsstyrelsen</td>
                                                    <td>Skog</td>
                                                    <td>2008 - 2012</td>
                                                </tr>
                                                <tr>
                                                    <td>Dataföretag</td>
                                                    <td>Data</td>
                                                    <td>1999 - 2008</td>
                                                </tr>
                                                <tr>
                                                    <td>Kiosken</td>
                                                    <td>Detaljhandel</td>
                                                    <td>1997 - 1999</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>


                            <div class="row">
                            </div>

                            <div class="form-group form-group-sm">
                                <div class="col-md-offset-11 ">

                                    
                                    <input type="submit" value="Nästa" id="nestaKnapp" onclick="location.href='@Url.Action("konsult", "Write", null)'" class="btn btn-sm btn-primary" />
                                    
                                </div>
                            </div>

                        </div>
                    </div>

                }
            </div>
        </div>

    </div>

</div>

<script type="text/javascript">
    var graph = ajaxneo4j("match path= (n)-[r]-() return path");
    sessionStorage.setItem('graph', JSON.stringify(graph.responseJSON.results[0].data));

    /* JAVASCRIPT FÖR ATT POPULERA KONSULT DROPDOWNLISTAN
    //the helper function provided by neo4j documents
    $(document).ready(function () {
        var temp = $.parseJSON(sessionStorage.getItem('nodes'));
        temp.forEach(function (row) {
            if (row.graph.nodes[0].labels == "Konsult") {
                $("#KonsultNamn").append($("<option>").text(row.graph.nodes[0].properties.Namn).val(row.graph.nodes[0].properties.Namn).attr('Namn', row.graph.nodes[0].id));
            }

        });
    });
    */
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $("#KonsultNamn").change(function () {
            var valdKonsult = { Namn: $("#KonsultNamn").val() };
            
            $.ajax({
                url: '@Url.Action("GeKonsultInfo", "Write")',
                type: 'Post',
                contentType: 'application/json',
                dataType: 'json',
                data: JSON.stringify(valdKonsult),
                success: function (data) {
                    
                    if (data.success) {
                        $('#Titel:text').val(data.result[0].Konsult.Titel);
                        $('#Epost:text').val(data.result[0].Konsult.Epost);
                        $('#Telefon:text').val(data.result[0].Konsult.Telefonnummer);
                        $('#Link:text').val(data.result[0].Konsult.Link);
                        $('#Kontor:text').val(data.result[0].Konsult.Kontor);
                        $('#BeskrivningKonsult').val(data.result[0].Konsult.Beskrivning);
                    }
                    else {
                        alert('invalid ID' + data.success);
                    }
                }
            });
        });
    });




/*
    $('#KonsultNamn').change(function () {
        var tempNamn = $('#KonsultNamn option:selected').text();

        var graph2 = ajaxneo4j("match path= (n:Konsult{Namn:'"+ tempNamn +"'})-[r:KAN]-() return path");
        sessionStorage.setItem('graph2', JSON.stringify(graph2.responseJSON.results[0].data));

        var temp = $.parseJSON(sessionStorage.getItem('nodes'));
        var temp2 = $.parseJSON(sessionStorage.getItem('graph2'));
        temp.forEach(function (row) {
            if (tempNamn == row.graph.nodes[0].properties.Namn) {
                console.log(row.graph.nodes[0].properties.Beskrivning);
                sessionStorage.setItem('konsult', $('#KonsultNamn').val());
                $('#Titel:text').val(row.graph.nodes[0].properties.Titel);
                $('#Epost:text').val(row.graph.nodes[0].properties.Epost);
                $('#Telefon:text').val(row.graph.nodes[0].properties.Telefonnummer);
                $('#Link:text').val(row.graph.nodes[0].properties.Link);
                $('#Kontor:text').val(row.graph.nodes[0].properties.Kontor);
                $('#BeskrivningKonsult').val(row.graph.nodes[0].properties.Beskrivning);
            }
        })
        $('table#listaKompetenser TBODY').empty();
        temp2.forEach(function (row) {
            row.graph.nodes.forEach(function(e){
                console.log(e);

                e.labels.forEach(function(n){
                    if (n == "Kompetens"){
                        $('table#listaKompetenser TBODY').append('<tr><td><span class="glyphicon glyphicon-sd-video" aria-hidden="true"></span></td><td>' + e.properties.Namn + '</td><td>' + row.graph.relationships[0].properties.Niva + '</td><td><a href=</td></tr>');
                    }
                })
            })
        })
            /*
            row.graph.nodes.forEach(function (n) {
                if (n.labels == "Kompetens") {
                }
            })
    });

   $("#divKompetenser").hide();
    $("#divUtbildning").hide();
    $("#divAnstallning").hide();

    $(document).ready(function () {

        $("#nestaKnapp").click(function () {
            $("#divKompetenser").show();
            $("#divUtbildning").show();
            $("#divAnstallning").show();

        });
    });
*/
</script>

